<div class="px-10">
  <app-header />
  <h1 class="text-lg font-bold">Sobre nosotros</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vel delectus
    numquam aliquid itaque<span appHighlight> nulla. Alias fugiat est, </span
    >voluptatem commodi soluta, ad et eveniet odit rem perferendis porro, quidem
    iste.
  </p>
  <p>
    Numero de clientes
    <app-counter
      [duration]="duration()"
      [message]="message()"
      *ngIf="duration() > 0"
    />
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
</div>
